
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type ="text/css" href="styles.css" media="all"/>
  <link rel="icon" type="image/png" href="favicon.png">

  <style>
    #f {
      padding: 20px 0;
      text-align: center;
    }
  
    #f .row {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      margin: 0;
    }
  
    #f .column {
      flex: 1;
      min-width: 250px;
      margin: 20px;
    }
  
    #f iframe {
      border-radius: 8px;
      margin-top: 10px;
    }
  
    #f ul {
      list-style: none;
      padding: 0;
    }
  
    #f ul li {
      margin-bottom: 10px;
    }
  
    #f a {
      text-decoration: none;
    }
  
    #f img {
      margin: 0 10px;
    }
  </style>
  
<footer id="f">
    <br><br>
    <hr>
    <div class="row" style="padding-left: 5px;">
      <div class="column">
        <a href="/">
          <div class="wrapper">
            <svg>
              <text x="50%" y="50%" dy=".35em" text-anchor="middle">
                Slick.IT
              </text>
            </svg>
          </div>
        </a><br><br><br>
        <iframe style="width: 90%;height: 40%;" src="YOUR_MAP_API" title="location"></iframe>
        <figcaption>Locate US.</figcaption>
      </div>
  
      <div class="column" style="width: 40%;text-align: center;margin-top: 2%;">
        <p style="font-size: 25px;">Your Last Minute App<br><br>
        <abbr title="Slick It">Slick It</abbr><br><br>
          Get it delivered at your door step</p>

      </div>
      
      <div class="column" style="float: right;padding-right: 25px;">
        <h2>Contact Us</h2>
        <ul style="font-size: 22px;text-align: left;" class="b">
          <li>Phone No: <a style="color:blue;">7789545125</a></li>
          <li>Email Id: <a style="color:blue;">contactus@slickit.com</a></li>
          <li>Telephone No: <a style="color:blue;">0484285964</a></li>
        </ul>
  
        <br>
  
        <h2>Follow Us</h2>
        <p align="center" style="font-size: 0;">
          <a href="https://www.youtube.com">
            <img src="media/yt.png" width="50" height="50" style="margin: 0 15px;">
          </a>
          
          <a href="https://www.facebook.com/">
            <img src="media/fb.png" width="50" height="50" style="margin: 0 15px;">
          </a>
          
          <a href="https://www.instagram.com/">
            <img src="media/instagram.png" width="50" height="50" style="margin: 0 15px;">
          </a>
          
          <a href="https://www.linkedin.com/">
            <img src="media/linkedin.png" width="50" height="50" style="margin: 0 15px;">
          </a>
        </p>
      </div>
    </div>
  </footer>
